.movie_inner {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
    color: #fff;
    font-size: 150%;

    li {
      width: 24%;

      a {
        color: #fff;
      }
    }
  }
}

.movie__search {
}
